@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,700;1,400&display=swap');

:root {
    --bgc: #264653;
    --bgc-light: #2A9D8f;
    --orange: #E76F51;
    --orange-light: #F4A261;
    --error: #e82727;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #264653;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0em 2em;
}

@supports(background-color: var(--orange)) {
    body {
        background-color: var(--bgc);
    }
}

h1 {
    color: #E76F51;
    text-align: center;
}

@supports(background-color: var(--orange)) {
    h1 {
        color: var(--orange);
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    background-color: #F4A261;
    color: #264653;
    padding: .5em 1em;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0em;
}

@supports(background-color: var(--orange)) {
    a {
        background-color: var(--orange-light);
        color: var(--bgc);
    }
}


section {
    max-width: 40em;
    margin: 3em auto;
}

.id-message {
    visibility: hidden;
    text-align: center;
}

.id-message-2 {
    text-align: center;
}

.id-message-2 span {
    text-decoration: underline;
    cursor: pointer;
}

.remove-button {
    background-color: rgb(179, 44, 44);
    font-weight: bold;
    color: white;
    border: none;
    padding: .5em 1em;

}

.cart-button {
    background-color: white;
    font-weight: bold;
    color: #264653;
    border: none;
    padding: .5em 1em;
}

@supports(background-color: var(--orange)) {
    .cart-button {
        color: var(--bgc);
    }
}

.designs ul li article {
    display: flex;
    align-items: center;
}

.designs ul li article form:first-of-type {
    margin-left: auto;
    margin-right: .5em;
}

.text-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 40px;
}

.plus-button {
    margin: 0;
}

/* cart */
.cart ul li article {
    display: flex;
    align-items: center;
}

.cart ul li article form:first-of-type {
    margin-left: auto;
    margin-right: .5em;
}

.designs ul li article h3,
.cart ul li article h3 {
    position: relative;
}



.designs ul li article h3::after,
.cart ul li article h3::after {
    content: '';
    position: absolute;
    top: calc(50% - 2.5px);
    right: -25px;
    height: 5px;
    width: 10px;
    display: inline-block;
    background-color: var(--orange);
}

/* FORM */
.create-form fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border: none;
    padding: 0;
}

.create-form fieldset legend {
    font-weight: bold;
    color: var(--orange-light);
}

.create-form fieldset legend>span {
    font-size: .8em;
    font-weight: 300;
    color: #fff;
}

.create-form fieldset input[type="radio"] {
    position: absolute;
    opacity: 0;
    margin: 0;
}

.create-form fieldset input[type="radio"]+label {
    display: inline-block;
    background-color: white;
    color: var(--orange);
    padding: .5em;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 500;
}

.create-form fieldset input[type="radio"]:checked+label {
    background-color: orange;
    color: white;
}

@supports(background-color: var(--orange)) {
    .create-form fieldset input[type="radio"]:checked+label {
        background-color: var(--orange);
    }
}




.create-form fieldset input[type="radio"]:checked+label {
    border: orange;
}

@supports(box-shadow: inset 0px 0px 0px 2px var(--orange)) {
    .create-form fieldset input[type="radio"]:checked+label {
        box-shadow: inset 0px 0px 0px 2px var(--orange);
    }
}

.create-form fieldset input[type="radio"]:focus+label {
    transform: scale(1.3);
}

.create-form fieldset input[type="radio"]:checked:focus+label {
    transform: scale(1.3);
}

.save-button {
    background-color: var(--orange-light);
    color: var(--bgc);
    padding: .5em 1em;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0em;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.shirt-container {
    position: relative;
    display: none;
}

.shirt-container p {
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5em;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    --textColor: black;
    word-wrap: break-word;
    max-width: 50%;
    color: var(--textColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@supports(font-size: clamp(1rem, 10vw, 2rem)) {
    .shirt-container p {
        font-size: clamp(1em, 2.5vw, 2em);
    }
}

.shirt {
    --shirtColor: white;
    fill: var(--shirtColor);
}

.shirt path {
    filter: contrast(.4);
}

/* progressive form */
.prog-form fieldset {
    display: none;
    margin-top: 4em;
}

.prog-form fieldset:nth-of-type(1) .input-rows {
    display: flex;
}

.prog-form fieldset:nth-of-type(1) .input-rows label {
    display: block;
    width: 25%;
    margin: 0;
}

/* prog form navigation buttons */
.prog-form-nav {
    display: none;
}

.prog-form .prog-form-nav {
    display: flex;
}

.prog-form-nav button {
    background-color: white;
    padding: 1em;
    border: none;
    color: var(--bgc);
    font-weight: bold;
}

#nextBtn {
    margin-left: auto;
}


/* ERROR MESSAGE FORM */
.error {
    border: 3px solid var(--error, red) !important;
}

.form-error-message {
    margin: .5em 0em;
    display: none;
    color: var(--error, red);
    font-weight: lighter;
}

/* show the error message only when the form has an error */
.error~.form-error-message {
    order: -1;
    display: block;
}

.error>.form-error-message {
    order: -1;
    display: block;
}